name: supabase

x-common: &common
  networks: [ supabase-internal ]
  env_file: .env
  restart: unless-stopped
services:
  studio:
    <<: *common
    image: ghcr.io/webysther/supabase-studio:2026.01.27
    container_name: supabase-studio
    depends_on:
      analytics:
        condition: service_healthy
    volumes:
      - snippets:/app/snippets
      - functions:/app/edge-functions

  kong:
    <<: *common
    image: ghcr.io/webysther/supabase-kong:2:8
    container_name: supabase-kong
    networks:
      - supabase
      - supabase-internal
    ports:
      - 8000:8000/tcp
    depends_on:
      analytics:
        condition: service_healthy

  auth:
    <<: *common
    image: supabase/gotrue:v2.185.0
    container_name: supabase-auth
    depends_on:
      db:
        condition: service_healthy
      analytics:
        condition: service_healthy

  rest:
    <<: *common
    image: ghcr.io/webysther/supabase-rest:14.3
    container_name: supabase-rest
    depends_on:
      db:
        condition: service_healthy
      analytics:
        condition: service_healthy

  realtime:
    <<: *common
    image: ghcr.io/webysther/supabase-realtime:2.72.0
    container_name: realtime-dev.supabase-realtime
    depends_on:
      db:
        condition: service_healthy
      analytics:
        condition: service_healthy

  storage:
    <<: *common
    image: ghcr.io/webysther/supabase-storage:1.37.1
    container_name: supabase-storage
    volumes:
      - storage:/var/lib/storage
    depends_on:
      db:
        condition: service_healthy
      rest:
        condition: service_started
      imgproxy:
        condition: service_started

  imgproxy:
    <<: *common
    image: ghcr.io/webysther/supabase-img:3.30.1
    container_name: supabase-imgproxy
    volumes:
      - storage:/var/lib/storage

  meta:
    <<: *common
    image: ghcr.io/webysther/supabase-meta:0.95.2
    container_name: supabase-meta
    depends_on:
      db:
        condition: service_healthy
      analytics:
        condition: service_healthy

  functions:
    <<: *common
    image: ghcr.io/webysther/supabase-functions:1.70.0
    container_name: supabase-edge-functions
    volumes:
      - functions:/home/deno/functions
    depends_on:
      analytics:
        condition: service_healthy

  analytics:
    <<: *common
    image: ghcr.io/webysther/supabase-analytics:1.30.3
    container_name: supabase-analytics
    depends_on:
      db:
        condition: service_healthy

  db:
    <<: *common
    image: ghcr.io/webysther/supabase-postgres:15
    container_name: supabase-db
    volumes:
      - db:/var/lib/postgresql/data
      - db-config:/etc/postgresql-custom
    depends_on:
      vector:
        condition: service_healthy

  vector:
    <<: *common
    image: ghcr.io/webysther/supabase-vector:0.28.1
    container_name: supabase-vector
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    security_opt:
      - "label=disable"

  supavisor:
    <<: *common
    image: ghcr.io/webysther/supabase-supavisor:2.7.4
    container_name: supabase-pooler
    ports:
      - ${POSTGRES_PORT}:5432
      - 6543:6543
    depends_on:
      db:
        condition: service_healthy
      analytics:
        condition: service_healthy

volumes:
  db:
    name: db
  db-config:
    name: db-config
  functions:
    name: functions
  snippets:
    name: snippets
  storage:
    name: storage

networks:
  supabase:
    name: supabase
  supabase-internal:
    name: supabase-internal