services:

  studio:
    image: ghcr.io/webysther/supabase-studio:2026.01.27
    container_name: supabase-studio
    restart: unless-stopped
    networks:
      - supabase-internal
    depends_on:
      analytics:
        condition: service_healthy
    volumes:
      - /data/docker/supabase/snippets:/app/snippets
      - /data/docker/supabase/functions:/app/edge-functions

  kong:
    image: ghcr.io/webysther/supabase-kong:2:8
    container_name: supabase-kong
    restart: unless-stopped
    networks:
      - supabase
      - supabase-internal
    ports:
      - 8000:8000/tcp
    depends_on:
      analytics:
        condition: service_healthy

  auth:
    container_name: supabase-auth
    image: supabase/gotrue:v2.185.0
    restart: unless-stopped
    networks:
      - supabase-internal
    depends_on:
      db:
        condition: service_healthy
      analytics:
        condition: service_healthy

  rest:
    image: ghcr.io/webysther/supabase-rest:14.3
    container_name: supabase-rest
    restart: unless-stopped
    networks:
      - supabase-internal
    depends_on:
      db:
        condition: service_healthy
      analytics:
        condition: service_healthy

  realtime:
    image: ghcr.io/webysther/supabase-realtime:2.72.0
    container_name: realtime-dev.supabase-realtime
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      analytics:
        condition: service_healthy
    networks:
      - supabase-internal

  storage:
    image: ghcr.io/webysther/supabase-storage:1.37.1
    container_name: supabase-storage
    restart: unless-stopped
    volumes:
      - /data/docker/supabase/storage:/var/lib/storage:z
    networks:
      - supabase-internal
    depends_on:
      db:
        condition: service_healthy
      rest:
        condition: service_started
      imgproxy:
        condition: service_started

  imgproxy:
    image: ghcr.io/webysther/supabase-img:3.30.1
    container_name: supabase-imgproxy
    restart: unless-stopped
    networks:
      - supabase-internal
    volumes:
      - /data/docker/supabase/storage:/var/lib/storage

  meta:
    image: supabase/postgres-meta:v0.95.2
    container_name: supabase-meta
    restart: unless-stopped
    networks:
      - supabase-internal
    depends_on:
      db:
        condition: service_healthy
      analytics:
        condition: service_healthy
    environment:
      PG_META_PORT: 8080
      PG_META_DB_HOST: ${POSTGRES_HOST}
      PG_META_DB_PORT: ${POSTGRES_PORT}
      PG_META_DB_NAME: ${POSTGRES_DB}
      PG_META_DB_USER: supabase_admin
      PG_META_DB_PASSWORD: ${POSTGRES_PASSWORD}
      CRYPTO_KEY: ${PG_META_CRYPTO_KEY}

  functions:
    image: ghcr.io/webysther/supabase-functions:1.70.0
    container_name: supabase-edge-functions
    restart: unless-stopped
    volumes:
      - /data/docker/supabase/functions:/home/deno/functions
    depends_on:
      analytics:
        condition: service_healthy
    networks:
      - supabase-internal

  analytics:
    image: ghcr.io/webysther/supabase-analytics:1.30.3
    container_name: supabase-analytics
    restart: unless-stopped
    networks:
      - supabase-internal
    depends_on:
      db:
        condition: service_healthy

  db:
    image: ghcr.io/webysther/supabase-postgres:15
    container_name: supabase-db
    restart: unless-stopped
    volumes:
      - /data/docker/db:/var/lib/postgresql/data
      - db-config:/etc/postgresql-custom
    depends_on:
      vector:
        condition: service_healthy
    networks:
      - supabase-internal

  vector:
    image: ghcr.io/webysther/supabase-vector:0.28.1
    container_name: supabase-vector
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - supabase-internal
    security_opt:
      - "label=disable"

  supavisor:
    image: ghcr.io/webysther/supabase-supavisor:2.7.4
    container_name: supabase-pooler
    restart: unless-stopped
    ports:
      - ${POSTGRES_PORT}:5432
      - 6543:6543
    networks:
      - supabase-internal
    depends_on:
      db:
        condition: service_healthy
      analytics:
        condition: service_healthy

volumes:
  db-config:

networks:
  supabase:
    name: supabase
  supabase-internal:
    name: supabase-internal